.tag {
    background-color: var(--secondary);
    color: var(--white);
    border: none;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 2rem;
    display: inline-block;
    border-radius: 3px;
    text-align: center;
    transition: all 0.3s ease-in-out 0s;
    font-family: 'Tajawal';
}
// .tag:hover {
//     transform: translateY(-5px);
//     box-shadow: rgba(0, 0, 0, 0.7) 2px 2px 2px;
// }